*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: linear-gradient(273.36deg, #003166 0%, #007AFF 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
}

.hamburger{
    display: none;
    width: 32.03px;
    height: 19px;
}

ul{
    display: flex;
    gap: 60px;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
}


.header-up{
    display: flex;
    justify-content: space-between;
    padding: 20px 45px; 
    
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15.1003px;
    line-height: 18px;
}



.header-down{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 160px;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #003166;
    background: white;
    border-radius: 50px;
}

.form{
    width: 400px;
    padding: 26px;
    
}

input[type=submit] {
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #FFE100;
}


.header-form{
    display: flex;
    flex-direction: column;
}


img{
    width: 100%;
    height: 100%;
}


.text1{
    width: 500px;    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 135%;
    color: white;

}

.text2{
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    color: white;
}

.text3{
    display: none;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    color: white;
}

@media screen and (max-width: 1000px) {

    .logo{
        display: none;
    }
    nav{
        display: none;
    }
    .text1{
        width: 280px;
    }
    .text2{
        display: none;
    }
    .text3{
        display: block;
        display: flex;
        align-items: center;
    }
    .home{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .header-down{
        flex-direction: column;
    }
}

